/*-Orther screen-*/
@media only screen and (min-width: 1024px) {
    .warning-tb-mb{
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    #video{
        height: 100vh;
    }

    .warning-tb-mb{
        position: absolute;
        width: 100%;
        height: 25%;
        text-align: center;
        background-color: #a81805;
        color: #fff;
        bottom: 0;
        font-size: 2rem;
        font-weight: bold;
        z-index: 1000;
    }
}



