:root {
	--red-color: rgb(219, 0, 0);
	--main-color: purple;
	--border-color: #26a;
	--line-color: #0cf;
	--line-width: 100px;
	--content-size: 250px;
	--animation-speed: 1s;
	--color-bar: #29D9C2;
	--color-high: #FF3B77;
}

* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: Alata;
	overflow: hidden;
}

@font-face {
	font-family: Ninja;
	src: url('./font/njnaruto.ttf');
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

.container-app {
	width: 100vw;
	height: 100vh;
	background-color: #030302;
	position: relative;
}

.wrap-title-song {
	width: 50%;
	color: #fff;
	position: absolute;
	top: 10%;
	z-index: 10;
	text-align: center;
	font-size: 2rem;
	color: yellow;
}

.content-title {
	color: #fff;
	text-shadow: -3px 0 var(--main-color), 0 3px var(--main-color), 3px 0 var(--main-color), 0 -3px var(--main-color);
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 2rem;
	position: absolute;
	width: 300px;
	top: 0px;
}

.title-smal {
	top: 0px;
	font-size: 1rem !important;
	color: #fff !important;
}

video {
	position: absolute;
	height: auto;
	width: 100%;
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

/*--Equalizer--*/

#equalizer {
	position: absolute;
	width: 100%;
	height: 100vh;
}

#bar9 {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0);
	opacity: 0.4;
	top: 0;
	left: 0;
	z-index: 1;
}

#bar10 {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	--border-width: 50%;
	z-index: 1;
	width: var(--content-size);
	height: var(--content-size);
	border-width: 10px;
	border-radius: var(--border-width);
	overflow: hidden;
	background-size: cover;
	-webkit-border-radius: var(--border-width);
	-moz-border-radius: var(--border-width);
	-ms-border-radius: var(--border-width);
	-o-border-radius: var(--border-width);
	box-shadow: 0 0 30px var(--border-color);
}

#bar10 .gradient {
	position: absolute;
	width: calc(var(--content-size) * 2);
	height: calc(var(--content-size) * 2);
	top: calc(50% - var(--content-size));
	left: calc(50% - var(--content-size));
	background: rgba(0, 0, 0, 0);
	background: linear-gradient( to right, rgba(0, 0, 0, 0) calc(50% - var(--line-width) / 2), var(--line-color) 50%, rgba(0, 0, 0, 0) calc(50% + var(--line-width) / 2));
	-webkit-animation: borderAnimation var(--animation-speed) infinite linear;
	animation: borderAnimation var(--animation-speed) infinite linear;
}

#bar10 img {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: scale(0.92, 0.92);
	-webkit-transform: scale(0.92, 0.92);
	-moz-transform: scale(0.92, 0.92);
	-ms-transform: scale(0.92, 0.92);
	-o-transform: scale(0.92, 0.92);
	z-index: 10;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;

}

.video-main {
	position: absolute;
	transform: scale(1.5, 1.5);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	z-index: 1000;
	-webkit-transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-o-transform: scale(1.5, 1.5);
}

/*-CONTROL MUSIC-*/

.bg-control {
	position: absolute;
	bottom: 0;
	height: 220px;
	transform: scale(1.2, 1.2);
	width: 100%;
	z-index: 10;
	bottom: -150px;
	background: #111;
	border: 2px solid var(--line-color);
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	box-shadow: 0 0 15px var(--border-color);
	overflow: hidden;
}

.bg-blur {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 1%, #111);
	opacity: 0.3;
}

.control-music {
	position: absolute;
	bottom: 0px;
	height: 120px;
	width: 320px;
	z-index: 69;
	justify-content: space-around;
}

.control-music i {
	color: rgb(151, 151, 151);
	padding: 0 30px 0 30px;
	font-size: 2rem;
	cursor: pointer;
}
.control-music .btn-play {
	z-index: 10;
	color: cyan;
    text-shadow: 0 0 4px cyan;

	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.control-music .btn-prev {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

.control-music .btn-next {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.big{
	position: relative;
    z-index: 10;
    cursor: pointer;
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    border-radius: 100%;
	border: solid 2px #000;
    box-shadow: inset 0 1px 2px rgb(255 255 255 / 20%), 0 4px 2px rgb(0 0 0 / 20%);
	background: linear-gradient(
		0deg, #222, #111);

}
.big::before {
    position: absolute;
    content: '';
    width: 80%;
    height: 80%;
    margin: 20%;
    border-radius: 100%;
	border: solid 2px #000;
    box-shadow: inset 0 1px 2px rgb(255 255 255 / 20%), 0 0 8px rgb(0 0 0 / 60%);
    background: linear-gradient(
0deg, #111, #222);
 
}
.glitch-logo{
	position: absolute;
	z-index: 10 !important;
	background-color: #222;
	opacity: 1;
	transform: scale(0.25,0.25) !important;
	-webkit-transform: scale(0.25,0.25) !important;
	-moz-transform: scale(0.25,0.25) !important;
	-ms-transform: scale(0.25,0.25) !important;
	-o-transform: scale(0.25,0.25) !important;
}
.glitch-logo{
	background-blend-mode: var(--blend-1);
}
.wrap-equalizer{
	position: absolute;
	width: 60%;
	bottom: 25px;
	justify-content: space-between;
	z-index: 100;
	z-index: 2;
}
.wrap-equalizer-left, .wrap-equalizer-right{
	display: flex;
}
.wrap-equalizer .equalizer:nth-child(1){
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	margin-right: 20px;
}
.wrap-equalizer .equalizer:nth-child(2){
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
}
.equalizer, .equalizer:after, .equalizer:before {
	width: 60px;
	height: 20px;

	position: relative;
	transform: translate(-90px, 50px);
	animation-name: bar1;
	animation-duration: 0.3s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-transform: translate(-90px, 50px);
	-moz-transform: translate(-90px, 50px);
	-ms-transform: translate(-90px, 50px);
	-o-transform: translate(-90px, 50px);
}
.equalizer:before {
	content: "";
	position: absolute;
	transform: translate(80px, 0);
	animation-name: bar2;
	-webkit-transform: translate(80px, 0);
	-moz-transform: translate(80px, 0);
	-ms-transform: translate(80px, 0);
	-o-transform: translate(80px, 0);
}
.equalizer:after {
	content: "";
	position: absolute;
	transform: translate(160px, 0);
	box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #29D9C2, 0 -90px 0 #29D9C2;
	animation-name: bar3;
	-webkit-transform: translate(160px, 0);
	-moz-transform: translate(160px, 0);
	-ms-transform: translate(160px, 0);
	-o-transform: translate(160px, 0);
}
.glitch-image:nth-child(1) {
	position: relative;
	opacity: 1;
}

.glitch-image:nth-child(2) {
	background-color: red;
	background-blend-mode: var(--blend-1);
}

.glitch-image:nth-child(3) {
	background-color: green;
	background-blend-mode: var(--blend-2);
}

.glitch-image:nth-child(4) {
	background-color: blue;
	background-blend-mode: var(--blend-3);
}

.glitch-image:nth-child(n+2) {
	opacity: 0;
}

.glitch-image:nth-child(n+1) {
	opacity: 1;
}

.glitch-image:nth-child(2) {
	transform: translate3d(1.1, 0, 0);
	animation: glitch-horizontal 3s infinite linear alternate;
	-webkit-animation: glitch-horizontal 3s infinite linear alternate;
	-webkit-transform: translate3d(1.1, 0, 0);
	-moz-transform: translate3d(1.1, 0, 0);
	-ms-transform: translate3d(1.1, 0, 0);
	-o-transform: translate3d(1.1, 0, 0);
}

.glitch-image:nth-child(3) {
	transform: translate3d(-1.1, 0, 0);
	animation: glitch-horizontal-2 2s infinite linear alternate;
	-webkit-animation: glitch-horizontal-2 2s infinite linear alternate;
	-webkit-transform: translate3d(-1.1, 0, 0);
	-moz-transform: translate3d(-1.1, 0, 0);
	-ms-transform: translate3d(-1.1, 0, 0);
	-o-transform: translate3d(-1.1, 0, 0);
}

.glitch-image:nth-child(4) {
	transform: translate3d(-1.1, 0, 0);
	animation: glitch-vertical 1s infinite linear alternate;
	-webkit-animation: glitch-vertical 1s infinite linear alternate;
	-webkit-transform: translate3d(-1.1, 0, 0);
	-moz-transform: translate3d(-1.1, 0, 0);
	-ms-transform: translate3d(-1.1, 0, 0);
	-o-transform: translate3d(-1.1, 0, 0);
}

.glitch-image:nth-child(5) {
	transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
	animation: glitch-flash 0.5s steps(1, end) infinite;
	-webkit-animation: glitch-flash 0.5s steps(1, end) infinite;
	-webkit-transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
	-moz-transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
	-ms-transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
	-o-transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
}

.glitch-image:nth-child(6) {
	transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
	animation: glitch-flash-2 0.5s steps(1, end) infinite;
	-webkit-animation: glitch-flash-2 0.5s steps(1, end) infinite;
	-webkit-transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
	-moz-transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
	-ms-transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
	-o-transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
}

/*--Keyframes--*/

@keyframes glitch-horizontal {
	0% {
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	10% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	20% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	30% {
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	40% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	50% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	60% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	70% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	80% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	90% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	100% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
}

@keyframes glitch-horizontal-2 {
	0% {
		opacity: 1;
		transform: translate3d(-10px, 0, 0);
		-webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		-webkit-transform: translate3d(-10px, 0, 0);
		-moz-transform: translate3d(-10px, 0, 0);
		-ms-transform: translate3d(-10px, 0, 0);
		-o-transform: translate3d(-10px, 0, 0);
	}
	3% {
		-webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	5% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
	7% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	9% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
	11% {
		-webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
	13% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	15% {
		-webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
	17% {
		-webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
	19% {
		-webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
	20% {
		-webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(-10px, 0, 0);
		-webkit-transform: translate3d(-10px, 0, 0);
		-moz-transform: translate3d(-10px, 0, 0);
		-ms-transform: translate3d(-10px, 0, 0);
		-o-transform: translate3d(-10px, 0, 0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
	}
}

@keyframes glitch-vertical {
	0% {
		opacity: 1;
		transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		-webkit-transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
		-moz-transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
		-ms-transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
		-o-transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
	}
	1.5% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
	2% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
	2.5% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	3% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
	5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
	5.5% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
	7% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
	8% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	9% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
	10.5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
	11% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
	13% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
	14% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
	14.5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
	16% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	18% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(0, -10px, 0) scale3d(-1, -1, 1);
		-webkit-transform: translate3d(0, -10px, 0) scale3d(-1, -1, 1);
		-moz-transform: translate3d(0, -10px, 0) scale3d(-1, -1, 1);
		-ms-transform: translate3d(0, -10px, 0) scale3d(-1, -1, 1);
		-o-transform: translate3d(0, -10px, 0) scale3d(-1, -1, 1);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
	}
}

@keyframes glitch-flash {
	0% {
		opacity: 0.2;
		transform: translate3d(10px, 5px, 0);
		-webkit-transform: translate3d(10px, 5px, 0);
		-moz-transform: translate3d(10px, 5px, 0);
		-ms-transform: translate3d(10px, 5px, 0);
		-o-transform: translate3d(10px, 5px, 0);
	}
	33%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
	}
}

@keyframes glitch-flash-2 {
	0% {
		opacity: 0.2;
		transform: translate3d(5px, 10px, 0);
		-webkit-transform: translate3d(5px, 10px, 0);
		-moz-transform: translate3d(5px, 10px, 0);
		-ms-transform: translate3d(5px, 10px, 0);
		-o-transform: translate3d(5px, 10px, 0);
	}
	13%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
	}
}

@keyframes borderAnimation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes neonAnimation {
	from {
		text-shadow: 0 0 5px var(--line-color);
	}
	50% {
		text-shadow: 0 0 10px var(--line-color);
	}
	to {
		text-shadow: 0 0 5px var(--line-color);
	}
}

  
  @keyframes bar1 {
	0%, 19.9% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d, 0 -90px 0 #ca638a, 0 -120px 0 #ff3b77;
	}
	20%, 39.9% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d, 0 -90px 0 #ca638a;
	}
	40%, 59.9% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d;
	}
	60%, 79.9% {
	  box-shadow: 0 -30px 0 #29D9C2;
	}
	80%, 100% {
	  box-shadow: none;
	}
  }
  @keyframes bar2 {
	0%, 19.9% {
	  box-shadow: none;
	}
	20%, 39.9% {
	  box-shadow: 0 -30px 0 #29D9C2;
	}
	40%, 59.9% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d;
	}
	60%, 79.9% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d, 0 -90px 0 #ca638a, 0 -120px 0 #ff3b77;
	}
	80%, 100% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d, 0 -90px 0 #ca638a;
	}
  }
  @keyframes bar3 {
	0%, 19.9% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d;
	}
	20%, 39.9% {
	  box-shadow: 0 -30px 0 #29D9C2;
	}
	40%, 59.9% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d;
	}
	60%, 79.9% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d, 0 -90px 0 #ca638a;
	}
	80%, 100% {
	  box-shadow: 0 -30px 0 #29D9C2, 0 -60px 0 #948a9d, 0 -90px 0 #ca638a, 0 -120px 0 #ff3b77;
	}
  }