.video-play-button {
  position: relative;
  z-index: 10;
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  margin: 40px auto 20px auto;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
  box-shadow: 0 0px 30px rgba(255, 175, 21, 0.5);
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: rgba(255, 175, 21, 0.65);
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  transition: all 200ms;
  transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.video-play-button:hover:after {
  background: #ffaf15;
  transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.video-play-button:hover span {
  border-left: 32px solid white;
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  transform: scale(0.8);
  border-left: 32px solid #ffaf15;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}