/*--CSS Mobile width >= 740px and width < 1024px --*/

@media only screen and (min-width:46.25rem) and (max-width:64rem) {
    /*--Define general--*/
    body {
        font-size: 0.8rem;
    }
    .font-tablet {
        font-size: 0.8rem;
    }
    .font-tablet-title {
        font-size: 1.6rem;
    }
    .title-suggesstion {
        font-size: 1.1rem;
    }
    .container-app {
        width: calc(100vw - 70px);
        height: 100%;
    }
    /*--NAVBAR--*/
    .ms-nav-bar {
        width: 70px;
    }
    .logo-desktop {
        display: none;
    }
    .logo-tablet {
        display: block;
    }
    .ms-nav-bar .ms-logo {
        height: 70px;
        padding-top: 10px;
    }
    .ms-nav-bar li p {
        display: none;
    }
    .ms-nav-bar ul li {
        padding: 10px 0 10px 0;
    }
    .is-acttive::after {
        height: 44px;
    }
    .suggesstion-login {
        display: none;
    }
    /*--CONTENT--*/
    .ms-content {
        margin-left: 70px;
    }
    .ms-wrapper-header {
        z-index: 8;
        width: calc(100% - 70px);
    }
    .ms-slide {
        height: 400px;
        padding-top: 50px;
    }
    .btn-carousel-prev, .btn-carousel-next {
        padding: 7px;
        font-size: 1rem;
    }
    .wrapper-theme-of-song .wrapper-theme-song-img {
        height: 60px;
    }
    .ms-list-song .list-music-item {
        width: 100%;
    }
    .footer-contact {
        padding: 0;
    }
    /*--User--*/
    .ms-user-profile-bg {
        height: 200px;
    }
    .profile-avatar {
        width: 150px;
        height: 150px;
    }
    /*--Artist--*/
    .wrapper-ms-artist-banner {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
    }
    .ms-artist-info {
        width: 100%;
    }
    .ms-artist-list-song {
        padding-top: 50px;
        width: 100%;
    }
    /*--Song--*/
    .ms-play-control-info {
        width: 30%;
    }
    .ms-play-control-player {
        width: 40%;
    }
    .ms-control-player-button-control {
        width: 40%;
    }
}

/*--CSS Mobile width < 740px--*/

@media only screen and (max-width:46.25rem) {
    body {
        font-size: 0.8rem;
    }
    .font-tablet {
        font-size: 0.8rem;
    }
    .font-tablet-title {
        font-size: 1.6rem;
    }
    .title-suggesstion {
        font-size: 1.1rem;
    }
    .container-app {
        width: calc(100vw - 70px);
        height: 100%;
    }
    /*--NAVBAR--*/
    .ms-nav-bar {
        width: 70px;
    }
    .logo-desktop {
        display: none;
    }
    .logo-tablet {
        display: block;
    }
    .ms-nav-bar .ms-logo {
        height: 70px;
        padding-top: 10px;
    }
    .ms-nav-bar li p {
        display: none;
    }
    .ms-nav-bar ul li {
        padding: 10px 0 10px 0;
    }
    .is-acttive::after {
        height: 44px;
    }
    .suggesstion-login {
        display: none;
    }
    .ms-nav-bar ul:nth-child(1) {
        padding: 0;
    }
    /*--Content--*/
    .ms-content {
        margin-left: 70px;
        width: calc(100%-70px);
    }
    .ms-wrapper-content-song {
        padding-top: 70px;
    }
    .ms-wrapper-header {
        z-index: 8;
        width: calc(100% - 70px);
    }
    .search-container {
        width: 100%;
    }
    .wrapper-header-control {
        display: none;
    }
    .ms-wrapper-slide {
        display: none;
    }
    .ms-list-song .list-music-item {
        width: 100%;
    }
    .ms-list-song .number-item {
        display: none;
    }
    .ms-list-song .item-info .name {
        width: 150px;
    }
    .carousel-mv-song .info-mv-song .name {
        font-weight: 400;
    }
    /*--Footer--*/
    .footer-contact {
        padding: 0px;
    }
    .wrapper-item-footer {
        flex-direction: column;
    }
    .footer-contact .item-contact .title-footer {
        font-weight: 400;
    }
    .wrapper-footer-copyright {
        flex-direction: column;
    }
    .footer-copyright {
        height: auto;
    }
    .wrapper-footer-copyright div:nth-child(2), .wrapper-footer-copyright div:nth-child(3) {
        display: none;
    }
    .footer-copyright .footer-item {
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    /*--Song--*/
    .ms-song-lyrics {
        height: auto;
    }
    .wrapper-ms-song-lyrics {
        padding-top: 80px;
    }
    .wrapper-song-action .title-suggesstion {
        text-align: center;
    }
    .wrapper-img-action {
        transform: scale(0.8);
    }
    .wrapper-lyric {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
    }
    .lyric {
        margin-top: 20px;
        font-size: 1.1rem;
        line-height: 3rem;
        top: 115px;
        height: 300px;
    }
    .wrapper-ms-song-lyrics {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 70px;
    }
    .ms-content-song-new {
        padding-top: 0px;
    }
    .container-lyrics .title-suggesstion {
        display: none;
    }
    .ms-play-control-container-bg {
        background-image: var(--bg-control) !important;
    }
    .ms-play-control-container {
        height: 150px;
    }
    .ms-play-control-wrapper {
        flex-direction: column;
    }
    .ms-play-control-info {
        display: none;
    }
    .ms-play-control-player {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .ms-control-player-button-control {
        width: 100%;
        margin-top: 20px;
    }
    .ms-player-progress-bar .progress-bar {
        margin-top: 20px;
        width: 100%;
    }
    .ms-play-control-right {
        width: 100%;
    }
    .ms-play-control-volume {
        width: auto !important;
    }
    .wrapper-proggress-bar .time {
        position: absolute;
        top: 34px;
        width: 0px;
    }
    .wrapper-proggress-bar .duration-time {
        right: 10%;
    }
}