/*--CSS Mobile width >= 740px and width < 1024px --*/

@media only screen and (min-width:46.25rem) and (max-width:64rem) {
    /*--Define genaral--*/
    body {
        font-size: 0.8rem;
    }
    .font-tablet {
        font-size: 0.8rem;
    }
    .font-tablet-title {
        font-size: 1.6rem;
    }
    .title-suggesstion {
        font-size: 1.1rem;
    }
    .container-app {
        width: calc(100vw - 70px);
        height: 100%;
    }
    /*--NAVBAR--*/
    .ms-nav-bar {
        width: 70px;
    }
    .logo-desktop {
        display: none;
    }
    .logo-tablet {
        display: block;
    }
    .ms-nav-bar .ms-logo {
        height: 70px;
        padding-top: 10px;
    }
    .ms-nav-bar li p {
        display: none;
    }
    .ms-nav-bar ul li {
        padding: 10px 0 10px 0;
    }
    .is-acttive::after {
        height: 44px;
    }
    .suggesstion-login {
        display: none;
    }
    /*--CONTENT--*/
    .ms-content {
        margin-left: 70px;
    }
    .ms-wrapper-header {
        z-index: 8;
        width: calc(100% - 70px);
    }
    .ms-slide {
        height: 400px;
        padding-top: 50px;
    }
    .btn-carousel-prev, .btn-carousel-next {
        padding: 7px;
        font-size: 1rem;
    }
    .wrapper-theme-of-song .wrapper-theme-song-img {
        height: 60px;
    }
    .ms-list-song .list-music-item {
        width: 100%;
    }
    .footer-contact {
        padding: 0;
    }
    /*--User--*/
    .ms-user-profile-bg {
        height: 200px;
    }
    .profile-avatar {
        width: 150px;
        height: 150px;
    }
}

/*--CSS Mobile width < 740px--*/

@media only screen and (max-width:46.25rem) {
    body {
        font-size: 0.8rem;
    }
    .font-tablet {
        font-size: 0.8rem;
    }
    .font-tablet-title {
        font-size: 1.6rem;
    }
    .title-suggesstion {
        font-size: 1.1rem;
    }
    .container-app {
        width: calc(100vw - 70px);
        height: 100%;
    }
    /*--NAVBAR--*/
    .ms-nav-bar {
        width: 70px;
    }
    .logo-desktop {
        display: none;
    }
    .logo-tablet {
        display: block;
    }
    .ms-nav-bar .ms-logo {
        height: 70px;
        padding-top: 10px;
    }
    .ms-nav-bar li p {
        display: none;
    }
    .ms-nav-bar ul li {
        padding: 10px 0 10px 0;
    }
    .is-acttive::after {
        height: 44px;
    }
    .suggesstion-login {
        display: none;
    }
    .ms-nav-bar ul:nth-child(1) {
        padding: 0;
    }
    /*--Content--*/
    .ms-content {
        margin-left: 70px;
        width: calc(100%-70px);
    }
    .ms-wrapper-content-song {
        padding-top: 70px;
    }
    .ms-wrapper-header {
        z-index: 8;
        width: calc(100% - 70px);
    }
    .wrapper-header-control{
        display: none;
    }
    .ms-wrapper-slide{
        display: none;
    }
    .ms-list-song .list-music-item {
        width: 100%;
    }
    .ms-list-song .number-item {
        display: none;
    }
    .ms-list-song .item-info .name {
        width: 100px;
    }
    /*--Footer--*/
    .footer-contact {
        padding: 0px;
    }
    .wrapper-item-footer{
        flex-direction: column;
    }
    .footer-copyright {
        height: auto;
    } 
    .wrapper-footer-copyright {
        flex-direction: column;
    }
    .footer-copyright .footer-item {
        width: 100%;
        padding:10px;
        text-align: center;
    }
    .wrapper-footer-copyright div:nth-child(2),.wrapper-footer-copyright div:nth-child(3){
        display: none;
    }
    
}