

/*-Orther screen-*/
@media only screen and (min-width: 992px) {
    .music-player-wrap{
        width: 360px;
    }
    .music-play .music-controll{
        cursor: pointer;
    }
    .music-play .music-controll .btn-play i{
        margin-top: 2px;
    }
    .btn-mode, .btn-list{
        cursor: pointer;
    }
       
}

/*-LG-*/
@media only screen  and (max-width: 991px) and (min-width: 850px) {
    .container{
    width: 50vw;
    }
    .wrap-time{
        margin-bottom: 20px;
    }
    .music-player-wrap{
        width: 360px;
    }
    .music-play .info .name {
        font-size: 1.4rem;
    }
    .music-play .music-controll .btn-play i{
        font-size: 1.2rem;
        top:0px
    }
}
/*-MD-*/
@media only screen and (max-width: 849px) and (min-width: 768px) {
    .container{
    width: 50vw;
    }
    .music-player-wrap{
        width: 360px;
    }
    .btn-mode, .btn-list {
        height: 45px;
        width: 45px;
        font-size: 0.9rem;
    }
    .title-playing p{
        font-size: 0.9rem;
    }
    .wrap-now-playing {
        padding-top: 40px;
    }
    .music-play .info {
        height: 150px;
    }
    .music-play .music-controll :nth-child(1){
        font-size: 0.9rem;
        height: 20px;
        width: 20px;
    }
    .music-play .music-controll :nth-child(5){
        height: 20px;
        width: 20px;    
        font-size: 0.9rem;
    }
    .music-play .info .name {
        font-size: 1.4rem;
    }
    .music-play .music-controll .btn-play {
        height: 50px;
        width: 50px;
    }
    .music-play .music-controll .btn-play i{
        font-size: 1.2rem;
        top: 0;
    }
}
/*-SM-*/
@media only screen and (max-width: 767px) and (min-width: 576px) {
    .container{
    width: 50vw;
    }
    .music-player-wrap{
        width: 360px;
    }   
    .btn-mode, .btn-list {
        height: 38px;
        width: 38px;
        font-size: 0.8rem;
    }
    .title-playing p{
        font-size: 0.8rem;
    }
    .title-playing {
        margin-top: 10px;
    }
    .wrap-now-playing {
        padding-top: 40px;
    }
    .music-play .avatar img{
        width: 220px;
        height: 220px;
    }
    .wrap-img-shadow-3 {
        width: 220px;
        height: 220px;
    }
    .music-play .info {
        height: 140px;
    }
    .music-play .music-controll {
        height: 130px;
    }
    .music-play .music-controll {
        width: 100%;
    }
    .music-play .music-controll :nth-child(1){
        font-size: 0.9rem;
        height: 20px;
        width: 20px;
    }
    .music-play .music-controll :nth-child(5){
        height: 20px;
        width: 20px;    
        font-size: 0.9rem;
    }
    .music-play .info .name {
        font-size: 1.2rem;
    }
    .music-play .music-controll .btn-play {
        height: 50px;
        width: 50px;
    }
    .music-play .music-controll .btn-play i{
        font-size: 1.1rem;
        margin-top: 4px;
    }
    .copyright-vip-coder{
        font-size: 0.8rem;
    }      

}
/*-XSM-*/
@media only screen and (max-width:575px) and (min-width: 401px){
        .container{
        width: 70vw;
        }
        .music-player-wrap{
            width: 340px;
        }   
        .btn-mode, .btn-list {
            height: 38px;
            width: 38px;
            font-size: 0.8rem;
        }
        .title-playing p{
            font-size: 0.8rem;
        }
        .title-playing {
            margin-top: 10px;
        }
        .wrap-now-playing {
            padding-top: 40px;
        }
        .wrap-time{
            font-size: 0.7rem;
        }
        .music-play .avatar img{
            width: 220px;
            height: 220px;
        }
        .wrap-img-shadow-3 {
            width: 220px;
            height: 220px;
        }
        .music-play .info {
            height: 140px;
        }
        .music-play .music-controll {
            height: 130px;
        }
        input[type=range]::-webkit-slider-runnable-track {
            height: 5px;
        }
        input[type=range]::-webkit-slider-thumb {
            margin-top: -0.6rem;
            height: 23px;
	        width: 23px;
        }
        .music-play .music-controll {
            width: 100%;
        }
        .music-play .music-controll :nth-child(1){
            font-size: 0.9rem;
            height: 20px;
            width: 20px;
        }
        .music-play .music-controll :nth-child(2){
            font-size: 1.2rem;
        }
        .music-play .music-controll :nth-child(4){
            font-size: 1.2rem;
        }
        .music-play .music-controll :nth-child(5){
            height: 20px;
            width: 20px;    
            font-size: 0.9rem;
        }
        .music-play .info .name {
            font-size: 1.2rem;
        }
        .music-play .music-controll .btn-play {
            height: 45px;
            width: 45px;
        }
        .music-play .music-controll .btn-play i{
            font-size: 1rem;
            margin-top: 5px;
        }
        .copyright-vip-coder{
            font-size: 0.8rem;
            margin-bottom: 20px;
        }
}
/*-XXSM-*/
@media only screen and (max-width: 400px){
    .container{
    width: 100vw;
    }
    .music-player-wrap{
        width: 310px;
    }
    .btn-mode, .btn-list {
        height: 38px;
        width: 38px;
        font-size: 0.8rem;
    }
    .title-playing p{
        font-size: 0.8rem;
    }
    .title-playing {
        margin-top: 10px;
    }
    .wrap-now-playing {
        padding-top: 40px;
    }
    .wrap-time{
        width: 100%;
        font-size: 0.7rem;

    }
    .music-play .avatar img{
        width: 210px;
        height: 210px;
    }
    .wrap-img-shadow-3 {
        width: 210px;
        height: 210px;
    }
    .music-play .info {
        height: 140px;
    }
    .music-play .music-controll {
        height: 110px;
    }
    input[type=range]::-webkit-slider-runnable-track {
        height: 5px;
    }
    input[type=range]::-webkit-slider-thumb {
        margin-top: -0.6rem;
        height: 23px;
        width: 23px;
    }
    .music-play .music-controll {
        width: 100%;
    }
    .music-play .music-controll :nth-child(1){
        font-size: 0.9rem;
        height: 20px;
        width: 20px;
    }
    .music-play .music-controll :nth-child(5){
        height: 20px;
        width: 20px;    
        font-size: 0.9rem;
    }
    .music-play .music-controll :nth-child(2){
        font-size: 1.1rem;
    }
    .music-play .music-controll :nth-child(4){   
        font-size: 1.1rem;
    }
    .music-play .info .name {
        font-size: 1.2rem;
    }
    .music-play .music-controll .btn-play {
        height: 40px;
        width: 40px;
    }
    .music-play .music-controll .btn-play i{
        font-size: 0.9rem;
        top: 0;
    }
    .copyright-vip-coder{
        font-size: 0.8rem;
        margin-bottom: 20px;
    }
    input[type=range]::-webkit-slider-thumb {
        width: 18px !important;
        height: 18px !important;
        margin-top: -7px !important;
    }
}