:root {
	--bg-dark: #25272A;
	--bg--app: #2F3238;
	--bg-light:#f1f1f1;
	--pink: #ff61d8;
	--blue: #569cfa;
	--orange: #ffcc81;
	--cyan: #7ed1e2;
	--gray: #A7A9AA;
	--dark--gray: #4d5063;
	--gray-color:#4d5063;
	--creator:#84878A;
	--bg--btn: #f1ee1e;
	--shadow-color: 0, 0, 0;
	--light-color: 255, 255, 255;
}

* {
	margin: 0;
	padding: 0;
	font-family: Lexend;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-dark);
	width: 100%;
	overflow-x: hidden;
}

.active{
	background-color: #141618;
}
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.heart{
	color: rgb(252, 31, 123);
}
/*--Preloader--*/

.wrap-pre-loader {
	display: none;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	position: absolute;
	z-index: 10;
	position: fixed;
}

.pre-loader {
	border: 1px solid #ECF0F1;
	padding: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: center center;
	transform: translate(-50%, -50%) rotate(135deg);
	width: 30px;
	height: 30px;
}

.pre-loader hr {
	border: 0;
	margin: 0;
	width: 40%;
	height: 40%;
	position: absolute;
	border-radius: 50%;
	animation: spin 2s ease infinite;
}

.pre-loader :first-child {
	background: #19A68C;
	animation-delay: -1.5s;
}

.pre-loader :nth-child(2) {
	background: #F63D3A;
	animation-delay: -1s;
}

.pre-loader :nth-child(3) {
	background: #FDA543;
	animation-delay: -0.5s;
}

.pre-loader :last-child {
	background: #193B48;
}

@keyframes spin {
	0%, 100% {
		transform: translateX(200%);
	}
	25% {
		transform: translateY(200%);
	}
	50% {
		transform: translateX(0);
	}
	75% {
		transform: translateY(0);
	}
}

/*-Grid-1140-*/

.container {
	position: relative;
	margin: 0 auto;
}

.music-player-wrap {
	position: relative;
	margin: 0 auto;
	background: linear-gradient(180deg, rgba(53, 59, 63, 1) 0%, rgba(38, 41, 46, 1) 50%, rgba(24, 25, 28, 1) 100%);
	z-index: 5;
	background-clip: padding-box;
	border: 2px solid rgba(181, 181, 181, 0.01);
	color: #fff;
	border-radius: 25px;
	box-shadow: 0px 10px 50px -30px rgb(0 0 0 / 75%);
	margin-top: 50px;
	height: auto;
}
.music-player-wrap::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -2px;
	border-radius: inherit;
	background: linear-gradient(rgba(65, 70, 78, 0.85), rgba(32, 35, 39, 0.75));
	-webkit-box-shadow: 0px 10px 50px -30px rgb(0 0 0 / 75%);
	-moz-box-shadow: 0px 10px 50px -30px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 10px 50px -30px rgb(0 0 0 / 75%);
}

/*-hover-*/

/*-CSS Event Click-*/

.bx-add-random {
	color: var(--bg--btn);
}

.bx-remove-random {
	color: var(--dark--gray);
}

.bx-add-loop {
	color: var(--bg--btn);
}

.bx-remove-loop {
	color: var(--dark--gray);
}

/*-Title-*/
.wrap-now-playing {
	position: relative;
	color: var(--gray);
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}
.wrapp-title{
	width: 90%;
	display: flex;
	justify-content: space-between;
}
.title-playing{
	text-align: center;
	margin-top: 15px;
	color: var(--gray);
}
.btn-mode, .btn-list{
	border-radius: 100%;
	color: #84878A;
	background: rgb(29,31,35);
	background: linear-gradient(315deg, rgba(29,31,35,1) 0%, rgba(46,53,58,1) 100%);
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: relative;
	justify-content: center;
	box-sizing: border-box;
	background-clip: padding-box;
	border: solid 2px transparent;
	z-index: 2;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2), -4px -4px 15px 0px rgba(154,154,154,0.3), 2px 2px 20px 0px rgba(25,25,25,0.6);
}
.btn-mode:before, .btn-list:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -2px;
	border-radius: 100%;
	background: rgb(29,31,35);
	background: linear-gradient(315deg, rgba(120,120,120,0.0) 0%, rgba(46,53,58,1) 100%);
	
}
.btn {
	font-size: 1rem;
	padding: 20px;
	width: 40px;
	height: 40px;
}


/*-Time-*/

.wrap-time {
	color: #9da1bd;
	font-size: 0.8rem;
	font-weight: 200;
	margin-top: 30px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.current-time {
	padding-left: 25px;
}

.duration-time {
	padding-right: 25px;
}

/*-Avatar-*/

.avatar {
	position: relative;
	display: flex;
	justify-content: center;
}

.img-shadow{

	background: #000;
	border-radius: 50%;
	position: absolute;
	box-shadow: rgb(0 0 0 / 20%) 0px 0px 20px 0px, rgb(150 150 165 / 20%) -5px -5px 30px 0px, rgb(0 0 0 / 50%) 20px 20px 30px 0px;
}
.img-action-index{
	width: 220px;
	height: 220px;
}

.avatar img {
	border-radius: 50%;
	animation: rotate 20s linear infinite;
	animation-play-state: paused;
	width: 220px;
	height: 220px;
	border: 6px solid #16181B;
	z-index: 5;
	background-size: cover;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*-Info Music-*/

.music-play .info {
	height: 150px;
}

.music-play .info .name {
	font-family: Oswald;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--gray);
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.music-play .info .creator {
	color: var(--creator);
	font-size: 0.8rem;
	text-align: center;
}

/*-Proggress-*/

.music-play .progress {
	width: 70%;
	margin-left: 15%;
	height: 0.2rem;
	position: relative;
	background: #dddddd;
	cursor: pointer;
}

.music-play .progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.progress-bar .dot {
	background-color: #8968FF;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	border: 3px solid #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	right: -6px;
	top: -4.5px;
}

/*-Music-Control-*/

.music-play .music-controll {
	font-size: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	color: var(--dark--gray);
	height: 130px;
	position: relative;
	width: 100%;
}

/*Loop*/

.music-play .music-controll .btn-loop {
	font-size: 1.5rem;
	padding: 5px;
	border-radius: 50%;
}

/*Random*/

.music-play .music-controll .btn-random {
	font-size: 1.5rem;
	padding: 5px;
	border-radius: 50%;
}

/*Prev*/

.music-play .music-controll :nth-child(2) {
	font-size: 1.5rem;
	color: var(--gray-color);
}

/*Next*/

.music-play .music-controll :nth-child(4) {
	font-size: 1.5rem;
	color: var(--gray-color);
}

/*Play*/

.music-play .music-controll .btn-play {
	height: 50px;
	width: 50px;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	background: linear-gradient(315deg, rgb(230, 85, 12) 0%, rgb(196, 38, 17) 100%) padding-box;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
	transition: 0.2s ease-in-out;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%), -4px -4px 15px 0px rgb(154 154 154 / 30%), 1px 1px 15px 0px rgb(25 25 25 / 60%);
}



.music-play .music-controll .btn-play:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin: -4px;
	border-radius: 100%;
	background: rgb(29, 31, 35);
	background: linear-gradient( 315deg, rgba(196, 38, 17, 1) 0%, rgba(230, 85, 12, 1) 100%);
	
}
.music-play .music-controll .btn-play i {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 1.2rem;
	position: relative;
	top: -2px;
}



/*Pre-loader*/

body.loading .wrap-pre-loader {
	display: block;
}

/*-Copyright-*/

.copyright-vip-coder {
	font-size: 0.9rem;
	font-weight: 300;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.vip-0 {
	color: var(--gray);
}

.vip-1 {
	color: var(--gray);
}

.vip-2 {
	color: var(--bg--btn);
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}


.wrap-progress-bar{
	width: 82%;
	margin: 0 auto;
}
.test-progress-bar {
	height: 25px;
	-webkit-appearance: none;
	margin: 0px 0;
	background-color: transparent;

}

input[type=range] {
	height: 25px;
	-webkit-appearance: none;
	width: 100%;
	background-color: transparent;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	box-shadow: inset 0px 0px 2px #50555C;
	background: #F1F1F1;
	background: linear-gradient(90deg, rgba(218, 80, 25, 1) 0%, rgba(184, 160, 34, 1) 0%, #1D2021 0%, #1D2021 100%);
	border: 1px solid #000000;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 1px 1px 3px 0px rgba(120, 120, 120, 0.5);
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-shadow: 0px 0px 10px #000000;
	border: 6px solid #24282C;
	height: 20px !important;
	width: 20px !important;
	border-radius: 50px;
	background: rgba(184, 160, 34, 1);

	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px !important;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), -2px -2px 2px 0px rgba(150, 150, 165, 0.1), 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 6px;
	cursor: pointer;
	box-shadow: inset 0px 0px 2px #50555C;
	background: #F1F1F1;
	background: linear-gradient(90deg, rgba(218, 80, 25, 1) 0%, rgba(184, 160, 34, 1) 0%, #1D2021 0%, #1D2021 100%);
	border: 1px solid #000000;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 1px 1px 3px 0px rgba(120, 120, 120, 0.5);
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 10px #000000;
	border: 6px solid #24282C;
	height: 20px;
	width: 20px;
	border-radius: 50px;
	background: rgba(184, 160, 34, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), -2px -2px 2px 0px rgba(150, 150, 165, 0.1), 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}


/*--Light theme--*/
.light-theme{
	background-color: #fff!important;
}
.light-btn-wrap{
	background: var(--light-color);
	box-shadow: 7px 7px 15px 0px rgba(var(--shadow-color), .3), -7px -7px 15px 0px rgba(var(--light-color), 1), inset 0px 0px 0px 0px rgba(var(--shadow-color), 0), inset 0px 0px 0px 0px rgba(var(--light-color), 0);
}
.light-btn-play-wrap{
	box-shadow: 7px 7px 15px 0px rgba(var(--light-color), .3), -7px -7px 15px 0px rgba(var(--light-color), .5), -1px -1px 2px 0px rgba(var(--shadow-color), .2),  1px 1px 2px 0px rgba(var(--shadow-color), .5) !important;
}
.light-btn-wrap::before{
	background: transparent;
}
.light-music-wrap{
	background-color: transparent !important;
}
.light-music-wrap{
	background-color: transparent !important;
	background: #d2f4ff;
}
.light-music-wrap::before{
	background:var(--bg-light) !important;
}
.light-text-color{
	color: var(--gray-color) !important;
}

::-webkit-scrollbar { 
    display: none; 
}

/*--List Music--*/
.music-list {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 10;
	background: linear-gradient(180deg, rgba(53, 59, 63, 1) 0%, rgba(38, 41, 46, 1) 50%, rgba(24, 25, 28, 1) 100%);
	background-clip: padding-box;
	color: #fff;
	border-radius: 25px;
	box-shadow: 0px 10px 50px -30px rgb(0 0 0 / 75%);
	display: none;
	transition: 0.5s linear;
}

.list-music{
	position: relative;
	
}
.music-list ul{
	width: 100%;
	margin: 0 auto;
	height: 360px;
	overflow:scroll;
	overflow-x: hidden;
}
.music-list ul li{
	padding: 5px;
	list-style: none;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
}
.list-music-item-info{
	display: flex;
	font-weight: 300;
	font-size: 0.8rem;
	color: var(--bg-light);
}
.song-item-info{
	padding-left: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.list-music-item-info img{
	margin-left: 10px;
	border-radius: 5px;
}
.song-item-info .creator{
	color: var(--creator);
}
.song-acttion{
	height: 200px;
	width: 80%;
	margin: auto;
}
.wrapper-song-acttion{
	margin-top: 50px;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.name-song-acttion{
	position: absolute;
	top: 40px;
	left: 0;
	text-align: center;
	color: var(--gray);
	width: 100%;
}
.avatar-action img{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	border-width: 4px;
}
.img-action-item{
	height: 120px;
	width: 120px;
}