/*-Orther screen-*/
@media only screen and (min-width: 1024px) {
    .warning-tb-mb{
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    #video{
        height: 100%;
    }
    .control-music,#equalizer {
        display: none;
    }
    .warning-tb-mb{
        position: absolute;
        width: 100%;
        height: 300px;
        text-align: center;
        background-color: purple;
        color: #fff;
        bottom: 0;
        font-size: 2rem;
        font-weight: bold;
    }
}


