body {
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);;
}
.bar {
	height: 4vh;
	width: 2vw;
	display: inline-block;
	position: absolute;
	top: 48vh;
	background-color: white;
}
#bar1 {
	left: 27.5vw;
}
#bar2 {
	left: 30.5vw;
}
#bar3 {
	left: 33.5vw;
}
#bar4 {
	left: 36.5vw;
}
#bar5 {
	left: 39.5vw;
}
#bar6 {
	left: 42.5vw;
}
#bar7 {
	left: 45.5vw;
}
#bar8 {
	left: 48.5vw;
}
#bar9 {
	left: 51.5vw;
}
#bar10 {
	left: 54.5vw;
}
#bar11 {
	left: 57.5vw;
}
#bar12 {
	left: 60.5vw;
}
#bar13 {
	left: 63.5vw;
}
#bar14 {
	left: 66.5vw;
}
#bar15 {
	left: 69.5vw;
}
#bar16 {
	left: 72.5vw;
}